extends ../master

block content
    a.index-link(href=`/collections/${collection.username}/fill`) (Re)Fill collection
    a.index-link(href=`/collections/${collection.username}/list-youtube-videos`) Show youtube list
    br

    .flex-container
        each record in records 
            .record
                .record-top
                    .left 
                        .record-image(style=`background-image:url("${record.image}");`)
                    .right
                        h4!=record.artists[0]
                        h5!=record.title
                        .actions
                            a(href=`/record/${record._id}/edit`) EDIT
                        
                .record-tracks
                    ul
                        each track in record.tracks 
                            li.track
                                .track-meta
                                    strong!=`${track.position} &nbsp;`
                                    span!=`${track.title} `

                                    //- .actions 
                                    //-     a() +
                                
                                .track-meta.track-key(class=track.key ? "haskey" : null)
                                    .key(class=track.key ? `key-${track.key}`: null)
                                        if (track.key) 
                                            span!=`${track.key} (${getKey(track.key)}) `
                                        else 
                                            span(style="color: red;") NO KEY
                                    .bpm
                                        if (track.bpm) 
                                            span.bpm!=`${track.bpm} `
                                    .duration
                                        if (track.duration)
                                            span.duration!=`${track.duration}`
                                .track-meta.track-own
                                    if(track.energyLevel)
                                        span.energylevel!=`${track.energyLevel} `
                                    if(track.note)
                                        span.note!=`${track.note}`
                                
               
        